/*@import 'reset.css';
@import 'text.css';
@import '../bootstrap/css/bootstrap.css';
@import '../fontawesome/css/font-awesome.min.css';*/
body{background-color:#062a71;background-image:url("../../img/bg-mar.jpg"),url("../../img/bg-fullcont-2.jpg");background-position:top center;background-attachment:fixed;background-repeat:no-repeat,repeat-y;font-family:'futurtligregular';font-size:18px;margin:0;padding:0;min-width:320px}
a{color:#fff;text-decoration:none}
a:hover,a:focus{color:#fff;text-decoration:none}
a:visited{color:#fff;text-decoration:none}
.bottom{margin-bottom:20px}
.btn-large{font-size:19px;padding:20px 62px}
.b-general{border:20px solid transparent;border-image:url("../../img/border.png") 30 30 30 30 round round}
.b-top{border-top:20px solid transparent;border-image:url("../../img/border.png") 30 30 30 30 round round}
.b-bottom{border-bottom:20px solid transparent;border-image:url("../../img/border.png") 30 30 30 30 round round}
.column{background:url("../../img/cajas-text.jpg");color:#fff;float:left;font-weight:bold;height:437px;text-shadow:0 1px 0 #75004d;width:286px;}
.column .cont{padding:20px;height:357px}
.cont{padding:20px}
.footer{background:url("../../img/cajas-text.jpg");color:#fff;font-size:14px;height:auto;text-align:center;}
.footer p{margin:0}
.header{background:url("../../img/cajas-text.jpg");}
.header .cont{padding:0 19px 20px}
.left{margin-right:20px}
.logo{display:inline-block;vertical-align:middle;width:297px;}
.logo .img1,.logo .img2,.logo .img3{width:90%}
.wrap{background-image:url("../../img/bg-cont.png")}
@media screen and (max-width: 760px){body{background-image:none}
.header .cont{padding:0 0 10px}
.left{margin-right:0}
.logo{width:100%;}
.logo .img2{width:160px}
.column{height:auto;width:100%;}
.column .cont{height:auto;padding:20px}
.column p{padding:0 20px}
.footer .img1{padding-bottom:20px;width:220px}
.wrap{background-color:#fff}
}@media screen and (min-width: 761px) and (max-width: 980px){.btn-large{padding:20px 31px}
.column{height:525px;width:206px;}
.column .cont{height:465px;padding:10px}
.logo{width:217px;}
.logo .img1,.logo .img2,.logo .img3{width:85%}
}