﻿.login-form{
			padding: 15px;
}

.usuario{
	font-size: 12px;
}

label.error {
    color: #B94A48;
    font-size: 0.9em;
}

.centrar-texto{
	text-align: center;
}

.opciones{
	background-color: #EEEEEE;
	border-radius: 6px 6px 6px 6px;
	color: inherit;
	font-size: 15px;
	margin-bottom: 20px;
}

#paso {
    width: 100%;
    height: auto;
    float: none;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    position:relative;
   
}

#pasos ul li {
    display: inline;
    text-align: center;
    text-decoration: none;
    width: 33%;
    /*padding-top: 5px;*/
    height: 40px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.c1
{
    width: 100%;
    height: 100%;
    background: url("../img/paso_1.png") center left no-repeat;
    background-size: cover;
}

.c2 {
    width: 100%;
    height: 100%;
    background: url("../img/paso_2.png") center left no-repeat;
     background-size: cover;
}

.c3 {
    width: 100%;
    height: 100%;
    background: url("../img/paso_3.png") center left no-repeat;
     background-size: cover;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

 #imgUpload{
        Height:100%;
        width:100%;
}

@media(max-width:768px) {
    #imgUpload{
        Height:40%;
        width:40%;
    }
}

#imgAvatar{
        Height:40%;
        width:40%;
}

@media(max-width:768px) {
    #imgAvatar{
        Height:40%;
        width:40%;
    }
}