/*@import 'reset.css';
@import 'text.css';
@import '../bootstrap/css/bootstrap.css';
@import '../fontawesome/css/font-awesome.min.css';*/
body{background:#ccc;background-image:url("../img/bg-mar.jpg");background-repeat: no-repeat;background-position: center top;background-attachment: fixed;color:#56557d;font:14px 'Helvetica',sans-serif;padding:0;margin:0;}
a{color:#fff;text-decoration:none}
a:hover,a:focus{color:#fff;text-decoration:none}
a:visited{color:#fff;text-decoration:none}
.bottom{margin-bottom:20px}
.btn-large{font-size:19px;padding:20px 62px}
.cont{padding:20px}
.footer{background:url("../../img/cajas-text.jpg");color:#fff;font-size:14px;height:auto;text-align:center;}
.footer p{margin:0}
.header{background-color:#000;}
.header .cont{padding:0 19px 20px}
.left{margin-right:20px}
.logo{display:inline-block;vertical-align:middle;width:297px;}
.logo .img1,.logo .img2,.logo .img3{width:90%}
.wrap{background-color: white}
@media screen and (max-width: 760px){body{background-image:none}
.header .cont{padding:0 0 10px}
.left{margin-right:0}
.logo{width:100%;}
.logo .img2{width:160px}
.footer .img1{padding-bottom:20px;width:220px}
.wrap{background-color:#fff}
}@media screen and (min-width: 761px) and (max-width: 980px){.btn-large{padding:20px 31px}
.logo{width:217px;}
.logo .img1,.logo .img2,.logo .img3{width:85%}
}