/*@import 'reset.css';
@import 'text.css';
@import '../bootstrap/css/bootstrap.css';
@import '../fontawesome/css/font-awesome.min.css';*/
body{background:#ccc;background-image:url("../img/bg-mar.jpg");background-repeat: no-repeat;background-position: center top;background-attachment: fixed;color:#56557d;font:14px 'Helvetica',sans-serif;padding:0;margin:0;}
a{color:#fff;text-decoration:none}
a:hover,a:focus{color:#fff;text-decoration:none}
a:visited{color:#fff;text-decoration:none}
.bottom{margin-bottom:20px}
.btn-large{font-size:19px;padding:20px 62px}
.cont{padding:20px}
.footer{background:url("../../img/cajas-text.jpg");color:#fff;font-size:14px;height:auto;text-align:center;}
.footer p{margin:0}
.header{background-color:#000;}
.header .cont{padding:10px 19px 0px}
.left{margin-right:20px}
.logo{display:inline-block;vertical-align:middle;width:15%;}
.logo .img1,.logo .img2,.logo .img3{width:90%}
.wrap{background-color: white}
.imglogo {height:15%;width:15%}
@media screen and (max-width: 760px){body{background-image:none}
.header .cont{padding:0 0 10px}
.left{margin-right:0}
.logo{width:20%;}
.logo .img2{width:160px}
.footer .img1{padding-bottom:20px;width:220px}
.wrap{background-color:#fff}
.imglogo {height:30%;width:30%}
}@media screen and (min-width: 761px) and (max-width: 980px){.btn-large{padding:20px 31px}
.logo{width:217px;}
.logo .img1,.logo .img2,.logo .img3{width:85%}
}

.divTableFiles table 
{ 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
} 
.divTableFiles 
{
	font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff;
	overflow: hidden;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
}
.divTableFiles table td, .divTableFiles table th 
{ 
	padding: 3px 10px; 
}
	
.divTableFiles table thead th 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30BFBF), color-stop(1, #141414) );
	background:-moz-linear-gradient( center top, #30BFBF 5%, #141414 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#30BFBF', endColorstr='#141414');
	background-color:#30BFBF;
	color:#FBFFF5;
	font-size: 15px;
	font-weight: bold; 
} 

.divTableFiles table thead th:first-child 
{ 
	border: none; 
}
.divTableFiles table tbody td 
{ 
	color: #00496B; 
	font-size: 12px;
	font-weight: normal; 
}
.divTableFiles table tbody .alt td 
{ 
	background: #F0EFEE;
	color: #00496B; 
}
.divTableFiles table tbody td:first-child 
{ 
	border-left: none; 
}
.divTableFiles table tbody tr:last-child td 
{ 
	border-bottom: none; 
}

.imagenes {
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.imagenes img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.txtFeAlta { 
  background-image: url("../img/calendarbluesvg.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}